*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    width: 300px;
    background-color: #fff;
    text-align: left;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
}
.container h2{
   font-weight: 300;
}
.container input{
    height: 30px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    border-radius: 3px;
    margin: 20px 0px 20px 0px;
    border: 1px solid #e0dada;
    outline: none;
}
.container button{
    height: 30px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    border-radius: 3px;
    margin: 20px 0px 20px 0px;
    background-color:rgb(54, 48, 48);
    border: 1px solid #e0dada;
    color: #fff;
}
.container button:hover{
    background-color: black;
}
.imgBox{
    text-align: center;
    transition: 10s ease;
}
